<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jssip/3.1.2/jssip.js" integrity="sha512-QWvPQCHjnZ9MksHgz1GRkjRVuj+BJZIV/3fBvFOs7N99N2dBaeHesIQ/+52jJOLowS2JLU6fGjQZFJfIzzFN7A==" crossorigin="anonymous"></script>
</head>
<body>
<div id="call"></div>
<script>
var socket = new JsSIP.WebSocketInterface('wss://vango.me:10443/ws');
var configuration = {
    sockets: [ socket ],
    uri: 'sip:<%= params[:from] %>@vango.me',
    password: 'mypassword'
};
var coolPhone = new JsSIP.UA(configuration);
coolPhone.on('connected', function(e) { console.log(e); });
coolPhone.on('disconnected', function(e) { console.log(e); });
coolPhone.on('newRTCSession', function(e) { console.log(e); });
coolPhone.on('newMessage', function(e) { console.log(e); });
coolPhone.on('registered', function(e) { console.log(e); });
coolPhone.on('unregistered', function(e) { console.log(e); });
coolPhone.on('registrationFailed', function(e) { console.log(e); });
coolPhone.start();

var events = {
    'succeeded': function(e) { console.log(e); },
    'progress': function(e) { console.log(e); },
    'failed': function(e) { console.log(e); },
    'ended': function(e) { console.log(e); },
    'confirmed': function(e) { console.log(e); }
};
var opts = {
    'eventHandlers': events,
    'mediaConstraints': { 'audio': true, 'video': true }
};
coolPhone.sendMessage('sip:<%= params[:to] %>@vango.me', "hello, world!", opts);
var call = coolPhone.call('sip:<%= params[:to] %>@vango.me', opts);
</script>