<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#da532c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
  html { font-family: monospace; }
  body { margin: 0; text-align: center; color: orangered; }
  #bg { height: 100vh; width: 100vw; position: fixed; left: 0; top: 0; }
#icon { width: 100vw; height: 100vh; position: absolute; z-index: 1; top: 100%; left: 0; }
#title { position: fixed; width: 100%; font-size: xx-large; top: 25%; z-index: 1; background-color: black; opacity: 0.8; }
#title > h1 { margin: 0; }
#links { position: fixed; width: 100%; bottom: -20%; z-index: 1;  }
#links > a { text-decoration: none; color: orangered; border: thin solid orangered; padding: 2%; border-radius: 5%; background-color: black; opacity: 0.8; }
    </style>
    <title>silverwood works</title>
  </head>
<body>
  <img id="bg" src="/bg.jpg">
  <img id="icon" src="/logo.png">
  <div id="title">
    <h1>silverwood</h1>
    <h1>works</h1>
  </div>
  <h1 id="links">
    <a href='https://discord.gg/Vg67KgH'>come</a>
    <a href='https://github.com/silverwood-works/townhall/issues/new?labels=question'>share</a>
    <a href='https://github.com/orgs/silverwood-works/teams/city-council'>give</a>
  </h1>
  <script>
    $("#icon").animate({ top: "0%" }, 2000);
    $("#links").animate({ bottom: "35%" }, 2500);
  </script>
</body>
</html>

